<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<form action="/getList">
    <h1>데이터 조회</h1>
    <td><a href="/">입력창으로</a></td>
    <table>
        <% users.forEach(function (value) { %>
        <tr>
            <td>id : <%= value.id  %></td>
            <td>des : <%= value.des  %></td>
            <td><a href="/delete/<%= value.id %>">삭제</a></td>
            <td><a href="/update/<%= value.id %>">수정</a></td>
        </tr>
        <% }); %>
    </table>
</form>
</body>
</html> -->


페이징 하는 페이지로 대체