<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>입력</title>
</head>
<body>
<h1>퀘스트 아무거나 입력</h1>
<form action="/" method="post">
    <table>
        <tr>
        des <td><input type="text" name="des" placeholder="입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="입력하기">
    <!-- <td><a href="/getlist">전체조회 및 수정</a></td> -->
    <td><a href="/page">리스트보기 및 수정</a></td>
</form>
</body>
</html>