<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<form action="/search">
    <h1>데이터 조회</h1>
    <td><a href="/">입력창으로</a></td>
    <td><a href="/page">리스트보기</a></td>
    <table>
        <% datas.forEach(function (value) { %>
        <tr>
            <td>id : <%= value.id  %></td>
            <td>des : <%= value.des  %></td>
        </tr>
        <% }); %>
    </table>
</form>
</body>
</html>
